APP_ENV=dev

MYSQL_ROOT_PASSWORD=CHANGE_ME_strong_root_password
MYSQL_USER=app
MYSQL_PASSWORD=CHANGE_ME_strong_db_password

RABBITMQ_DEFAULT_USER=mydashboard
RABBITMQ_DEFAULT_PASS=CHANGE_ME_strong_rabbitmq_password

JWT_PASSPHRASE=CHANGE_ME_strong_jwt_passphrase

AUTH_APP_SECRET=CHANGE_ME_auth_secret_32hex
DASHBOARD_APP_SECRET=CHANGE_ME_dashboard_secret_32hex
EVENTS_APP_SECRET=CHANGE_ME_events_secret_32hex
NOTIFICATION_APP_SECRET=CHANGE_ME_notification_secret_32hex
TRANSLATION_APP_SECRET=CHANGE_ME_translation_secret_32hex

INTERNAL_NOTIFICATION_TOKEN=CHANGE_ME_internal_token_32hex
